<form action="/answer"><!--  the action attribute holds the url of the request it triggers on submit -->
  <label class="pink" for="text">Your Question</label><br>
  <input type="text" id="text" name="question"><br>
  <input type="submit" value="Ask!"><br>
</form>
